.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--body);
}

.header__iconButton {
	margin-top: -10px !important;
}

.header__menuIcon {
	color: var(--headerIcons);
}

.header__logo {
	width: 90px;
	height: 20px;
	margin: 15px 0px 0px 10px;
}

.header__sup {
	margin-left: 4px;
	position: absolute;
	top: 17px;
	color: var(--grayLetters);
	font-size: 10px;
}

.header__center {
	display: flex;
	align-items: center;
}

.header__form {
	width: 50vw;
	margin-right: 10px;
	min-width: max-content;
}

.header__input {
	display: flex;
	align-items: center;
	height: 32px;
	border: 1px solid var(--searchBorder);
	border-radius: 2px 0 0 2px;
	background-color: var(--searchBackground);
}

.header__input > input {
	flex: 1;
	margin-left: 5px;
	border: none;
	padding: 0px 6px;
	font-size: 16px;
	font-weight: 400;
	color: var(--letters);
	background-color: var(--searchBackground);
}

.header__input > input::placeholder {
	color: var(--placeholder);
}

.header__inputButton {
	background-color: var(--searchButton) !important;
	border-left: 1px solid var(--searchBorder) !important;
	border-radius: 0 2px 2px 0 !important;
}

.header__inputButton:hover {
	border-color: var(--searchBorderHover) !important;
	background-color: var(--searchButtonHover) !important;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header__searchIcon {
	color: #606060;
}

.header__micIcon {
	color: var(--headerIcons);
}

.header__inputButton:hover .header__searchIcon {
	fill: var(--searchIconHover) !important;
}

.header__right {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.header__rightIcon {
	color: var(--headerIcons);
	margin-right: 20px;
}

@media (max-width: 960px) {
	.header__micIcon,
	.header__rightIcon {
		display: none !important;
	}

	.header__form {
		width: 40vw;
	}
}

@media (max-width: 600px) {
	.header__iconButton {
		display: none !important;
	}

	.header__logo {
		margin: 0px 10px 0px 0px;
		height: 25px;
	}

	.header__sup {
		display: none;
	}

	.header__form {
		width: 10vw;
	}

	.header__input > input {
		width: 150px;
	}

	.header__right {
		margin-right: 5px;
	}
}