.recommendedVideos {
	width: auto;
	background-color: var(--innerBody);
}

.recommendedVideos__chipsDiv {
	background-color: var(--body);
	padding: 12px 24px;
	border-top: 1px solid var(--itemHoverAndHr);
	border-bottom: 1px solid var(--itemHoverAndHr);
	display: flex;
	justify-content: center;
}

.recommendedVideos__chipsDiv.related {
	border: 0px;
}

.recommendedVideos__chipsList {
	overflow-y: hidden;
	display: flex;
	max-width: 100vw;
}

.recommendedVideos__chip {
	background-color: var(--chip) !important;
	color: var(--letters) !important;
	font-size: 0.9rem !important;
	margin-right: 12px;
}

.recommendedVideos__chip:first-child {
	background-color: var(--letters) !important;
	color: var(--body) !important;
}

.recommendedVideos__limitExceeded {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	font-size: 20px;
	color: darkred;
	width: 80vw;
}

.recommendedVideos__videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 24px 0px;
}

.recommendedVideos__videos.related {
	background-color: var(--body);
	justify-content: flex-start;
	padding-left: 20px;
}

@media (max-width: 1280px) {
	.recommendedVideos__chipsList {
		max-width: 85vw;
	}
}

@media (max-width: 960px) {
	.recommendedVideos__chipsList {
		max-width: 80vw;
	}
}

@media (max-width: 600px) {
	.recommendedVideos__chipsList {
		max-width: 70vw;
	}
}