.sidebar {
	min-width: 240px;
	padding: 14px 0px 14px;
	background-color: var(--body);
	transition-duration: 0ms;
}

.sidebar > hr {
	height: 1px;
	border: 0;
	background-color: var(--itemHoverAndHr);
	margin: 10px 5px 10px 0px;
}

.sidebar.minimized {
	min-width: 68px;
	max-width: 68px;
}

.sidebar.minimized h2, .sidebar.minimized .MuiTypography-body1 {
	display: none;
}

.sidebar.minimized .themeSwitch {
	padding-left: 18px;
}