.sidebarRow {
	display: flex;
	align-items: center;
	padding: 8px 0px 8px 24px;
}

.sidebarRow:hover {
	background-color: var(--itemHoverAndHr);
	cursor: pointer;
}

.sidebarRow__icon {
	color: var(--sidebarIcon);
	font-size: 1.4rem;
}

.sidebarRow.selected {
	background-color: var(--itemHoverAndHr);
}

.sidebarRow.selected > .sidebarRow__icon {
	color: var(--sidebarSelectedIcon);
}

.sidebarRow.selected > .sidebarRow__title {
	font-weight: bolder;
}

.sidebarRow__title {
	flex: 1;
	margin-left: 24px;
	font-size: 0.9rem;
	font-weight: 100;
	color: var(--letters);
}